@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  z-index: 2;
}
.nav {
  z-index: 3;
}

.sidebar {
  z-index: 4;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.divider {
  margin-top: 0 !important;
}

.logo {
  z-index: 1;
}

.content {
  z-index: 2;
}

.hero-image {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 15px;
  margin-right: 200%;
  margin-top: -450%;
  z-index: 2;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background: black;
  box-shadow:
    -10px -10px var(--spread) 0px #5b51d8,
    0 -10px var(--spread) 0px #833ab4,
    10px -10px var(--spread) 0px #e1306c,
    10px 0 var(--spread) 0px #fd1d1d,
    10px 10px var(--spread) 0px #f77737,
    0 10px var(--spread) 0px #fcaf45,
    -10px 10px var(--spread) 0px #ffdc80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.active {
  background-color: rgba(255, 255, 255, 0.1);

}


.firstSwiper {
  width: 480px;
  height: 700px;
  margin: 0 auto; /* Centering the swiper */
  padding: 0; /* Initial padding */
}

.firstSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.firstSwiper .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.firstSwiper .swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.firstSwiper .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.firstSwiper .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.firstSwiper .swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.firstSwiper .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.firstSwiper .swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.firstSwiper .swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.firstSwiper .swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.firstSwiper .swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .firstSwiper {
    width: 240px; /* Half the original width */
    height: 350px; /* Half the original height */
    margin: 16px auto; /* Add margin */
    padding: 16px; /* Add padding */
  }
}
.anotherSwiper {
  max-width: 1200px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.anotherSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.anotherSwiper .swiper-slide img {
  display: block;
  width: 100%;
}
